
.button{
    padding: .4rem 1.2rem;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.button-add{
    background-color: #1890ff;
    border: 1px solid #1890ff;
}

.button-success{
    background-color: #31d37b;
    border: 1px solid #31d37b;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    padding: .6rem 1.2rem;
}

.icon {
    font-size: 1rem;
}

.input-text{
    width: 34rem!important;
    height: 1.9rem;
    font-size: 16px;
    padding-left: .4rem;
}